<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Quiz!</h1>
    <p>This portal is just to learn NodeJS</p>
  </body>
</html>
