<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div id="page-wrap">
            <header class="main" id="h1">
                <h2>Quiz: The game of questions</h2>
            </header>
            <nav class="main" id="n1">
                <span>
                    <a href="/">Home</a>
                </span>
                <span>
                    <a href="/quizes/question">Questions</a>
                </span>
            </nav>
            <section class="main" id="s1">
                <%- body %>
            </section>
            <footer class="main" id="f1">
                <a href="http://en.wikipedia.org/wiki/Quiz">What is a Quiz?</a>
            </footer>
        </div>
    </body>
</html>
