<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/wide.css"
              media="only screen and (min-width: 530px) and (min-device-width: 481px)" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/smartphone.css"
              media="only screen and (max-width: 480px)" />
    </head>
    <body>
        <div id="page-wrap">
            <header class="main" id="h1">
                <h2>Quiz: The game of questions</h2>
            </header>
            <nav class="main" id="n1">
                <span>
                    <a href="/">Home</a>
                </span>
                <span>
                    <a href="/quizes">Questions</a>
                </span>
                <span>
                    <a href="/author">Author</a>
                </span>
            </nav>
            <section class="main" id="s1">
                <%- body %>
            </section>
            <footer class="main" id="f1">
                <a href="http://en.wikipedia.org/wiki/Quiz">What is a Quiz?</a>
                <a href="https://github.com/sblancov/quiz" target="_blank">github project</a>
            </footer>
        </div>
    </body>
</html>
