<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="/stylesheets/style.css" rel="stylesheet">
        <title>Quiz - Answers</title>
    </head>
    <body>
        <h2>Quiz: The questions game</h2>
        <p>
            Respuesta: <%= respuesta %>
        </p>
        <a href="/quizes/question">Retry</a>
    </body>
</html>
