<form action="/quizes/answer" method="get">
    <label for="respuesta">
        Pregunta: <%= pregunta %>
    </label>
    <input type="text" placeholder="Answer here" name="respuesta">
    <input type="submit" value="Send">
</form>
