<form action="/quizes/answer" method="get">
    <label for="answer">
        Pregunta: <%= question %>
    </label>
    <input type="text" placeholder="Answer here" name="answer">
    <input type="submit" value="Send">
</form>
